
// Colors
$blue: #892cdc;
$dark-blue: #083E5E;
$light-grey: #f4f5f7;
$grey: #a6a9b6;
$color-secondary-grey: #a6a9b6;
$color-black: #000;
$color-primary-blue: #892cdc;
$color-secondar:#892cdc;
$color-secondary-bluelight: #892cdc;
$color-white: #fff;
$color-primary-dark: #fff;
$box-shadow: 0 0 7px 0 rgba(0,0,0,.2);

$font: 'BebasNeue', sans-serif;
$font-helvetica: 'Helvetica', sans-serif;
$font-alexandra: 'Alexandra', sans-serif;
$font-rubik:'Rubik', sans-serif;


