
// Colors
$blue: #892cdc;
$dark-blue: #083E5E;
$light-grey: #f4f5f7;
$grey: #a6a9b6;

$box-shadow: 0px 0px 50px rgba(98, 209, 253, 0.15);
$color-secondary-grey: #BDC3C7;

$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;

$color-white: #fff;
$color-black: #000;

$font: 'BebasNeue', sans-serif;
$font-helvetica: 'Helvetica', sans-serif;
$font-alexandra: 'Alexandra', sans-serif;
$font-rubik:'Rubik', sans-serif;


