.footer{
    margin-top: 120px;
    background: #388DAC;
    .footer-content{
        display: flex;
        justify-content: space-between;
        .footer-content__logo{
            width: 103px;
            height: 103px;
            background-color: #fff;
            padding: 20px;
            box-shadow: $box-shadow;
            @include mobile{
                margin-top: -40px;
            }
        }
        .footer-content__menu{
            display: flex;
            align-items: center;
            @include mobile{
                margin-top: 30px;
            }
            a{
                font-family: $font-helvetica;
                font-weight: 400;
                color: #fff;
                padding: 0 27px;
                font-size: 16px;
                line-height: 18px;
                @include mobile{
                    display: flex;
                    margin-top: 20px;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
        .footer-content__social{
            display: flex;
            align-items: center;
            width: 100px;
            justify-content: space-between;
            @include mobile{
                margin-top: 30px;
            }
        }
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
        }
    }

}