.about-school{
    display: flex;
    z-index: -2;
    height: 650px;
    margin-top: -150px;
    .container{
        position: relative;
    }
    .about-wrapper__text{
        margin-top: 300px;
        font-family: Bebas Neue;
    }
    .wrapper__video{
        width: 720px;
        background-size: cover;
        z-index: -1;
        position: absolute;
        top: 0;
        right: -30px;
    }
}

.training{ 
    table{
        border-spacing: 20px;
        border-collapse: separate;
        td{
            padding: 30px;
        }
        .blue{
            background-color: #88BACD;
            .tranding-number{
                color: #88BACD;
                font-weight: bold;
                font-size: 160px;
                line-height: 180px;
                text-transform: uppercase;
                text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
            }
            p:nth-child(2){
                font-size: 34px;
                line-height: 41px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            p:nth-child(3){
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }
        .white{
            background: rgba(43, 43, 43, 0.02);
            .tranding-number{
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: 160px;
                line-height: 180px;
                text-transform: uppercase;
                text-shadow: 2px 2px 0 #083E5E, 2px -2px 0 #083E5E, -2px 2px 0 #083E5E, -2px -2px 0 #083E5E, 2px 0px 0 #083E5E, 0px 2px 0 #083E5E, -2px 0px 0 #083E5E, 0px -2px 0 #083E5E;
            }
            p:nth-child(2){
                font-size: 34px;
                line-height: 41px;
                text-transform: uppercase;
                color: #083E5E;;
            }
            p:nth-child(3){
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #083E5E;;
            }
        }
    }
}

.why-content{
    margin-top: 133px;
    h2{
        font-weight: bold;
        font-size: 80px;
        line-height: 80px;
        text-transform: uppercase;
        color: #083E5E;
    }
    p{
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #2B2B2B;
    }
    .why-conent__slider{
        background: #88BACD;
        padding: 30px;
        width: 630px;
        p{
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
        }
    }
    .why-content__img{
        width: 413px;
        background-size: cover;
        margin-left: 130px;
    }
}
.adress{
    h2{
        font-weight: bold;
        font-size: 80px;
        line-height: 80px;
        text-transform: uppercase;
        color: #083E5E;
    }
}