.wrapper{
    // background-image: url(/assets/images/wrapper__bg.png);
    // display: flex;
    // z-index: -2;
    // height: 650px;
    // margin-top: -150px;
    .container{
        position: relative;
    }
    .wrapper__name{
        width: 490px;
        margin-top: 440px;

    }

    .wrapper__video{
        width: 720px;
        background-size: cover;
        z-index: -1;
        position: absolute;
        top: 0;
        right: -30px;
    }
}
.school-name{
    font-family: $font-alexandra;
    font-size: 120px;
    line-height: 158px;
    color: #083E5E;
    font-weight: 400;
}
.home-video{
    position: absolute;
    right: 0;
    top: 0;
    height: 660px;
    width: 720px;
}
.adress{
    display: flex;
    margin-top: 200px;

        .adress__card{
            padding: 25px;
            -webkit-box-shadow: 0px 0px 15px 4px #62D1FD; 
            box-shadow: 0px 0px 15px 4px rgba(98, 209, 253, 0.15);
            position: relative;
            .adress__card_h3{
                font-weight: bold;
                font-size: 34px;
                line-height: 34px;
                text-transform: uppercase;
                color: #083E5E;
                
            }
            .adress__card_p{
                margin-top: 10px;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px; 
                color: #083E5E;
                text-transform: uppercase; 
            }
            .adress__card_link{
                margin-top: 65px;
                display: flex;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #083E5E;
                vertical-align: middle;
                font-family: $font-helvetica;
                img{
                    
                    height: 20px;
                    margin-left: 10px;
                    display: inline-block;
                    width: 20px;
                }
            }
            .adress__card_bgtext{
                position: absolute;
                right: 25px;
                bottom: 25px;
                width: 102px;
                height: 100px;
            }
        }

}

.about-content{
    display: flex;
    margin-top: 80px;

    .about-img{
        width: 413px;
        box-shadow: $box-shadow;
        img{
            width: 100%;
        }
    }
    .about-content__text{
        width: 650px;
        margin-left: 130px;
        margin-top: 50px;

        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 80px;
            text-transform: uppercase;
            color: #083E5E;
        }
        p{
            font-family:$font-helvetica;
            font-weight: 300;
        }
        .about-more__link{
            font-family:$font-helvetica;
            margin-top: 65px;
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #083E5E;
            vertical-align: middle;
            img{
                
                height: 20px;
                margin-left: 10px;
                display: inline-block;
                width: 20px;
            }
        }
    }
}
.choreographer .container{
    // box-shadow: $box-shadow;
}
.choreographer-content{
    margin-top: 160px;


    .choreographer-content__photo{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .choreographer-content__photo_img{
        width: 266px;
        height: 260px;
        position: relative;
        img{
            object-fit: cover;
            width: 266px;
            height: 260px;
        }
        div{
            transition: all ease 0.5s;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(98, 209, 253, 0.3) 0%, rgba(98, 209, 253, 0.74) 100%);
            p{
                position: absolute;
                color: #fff;
                font-size: 22px;
                line-height: 26px;
                text-transform: uppercase;
                font-weight: 400;
                left: 20px;
                bottom: 0px;
            }
            opacity: 0;
            &:hover{
                opacity: 1;
            }
        }
          
        }
    .choreographer-content__info{
        background-color: #88BACD ;
        background-position: top left;
        padding: 30px 30px 0;
        // height: 100%;
        width: 58%;
        .choreographer-content__info_number{
            color: #88BACD;
            font-weight: bold;
            font-size: 160px;
            line-height: 180px;
            text-transform: uppercase;
            text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
        }
        .choreographer-content__info_text{
            margin-top: 140px;
            color: #fff ;
            font-size: 34px;
            line-height: 41px;
            text-transform: uppercase;
        }
        a{
            margin-top: 50px;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 20px;
            font-family: $font-helvetica;
            img{
            
                height: 20px;
                margin-left: 10px;
                display: inline-block;
                width: 20px;
            }
        }
    }
    .choreographer-content__photo{
        .row{
            display: flex;
            .choreographer-content__photo_img{
                width: 260px;
                height: 260px;
                position: relative;
                img{
                    width: 100%;
                }
                div{
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background: linear-gradient(180deg, rgba(98, 209, 253, 0.3) 0%, rgba(98, 209, 253, 0.74) 100%);;
                    p{
                        font-size: 22px;
                        line-height: 26px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin-top: 70%;
                        margin-left: 40%;
                    }
                }
                div:hover{
                    transition: ease all 0.5s;
                    opacity: 1;
                }
            }
        }
    }
}

.choreographer-more{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: $box-shadow;
    padding: 34px;
    h3{
        font-weight: 400;
        font-size: 34px;
        line-height: 41px;
        text-transform: uppercase;
        color: #083E5E;
    }
    .choreographer-more__input{
        display: flex;
        justify-content: center;

        input{
            width: 360px;
            font-size: 14px;
            padding: 18px 20px;
            border: 1px solid #88BACD;
            box-sizing: border-box;
            border-radius: 10px;
            margin: 10px;
            font-family: $font-rubik;
            font-weight: 300;
        }
    }
    button{
        font-family: $font-helvetica;
        margin: 30px auto;
        width: 170px;
        padding: 10px 20px;
        color: #FFFFFF;
        background-color: #388DAC;
        font-size: 14px;
        line-height: 20px;
        display: block;
        border: 1px solid #388DAC;
    }
    button:hover{
        transition:  ease all 0.5s;
        color: #388DAC;
        background-color: #ffffff;
        border: 1px solid #388DAC;
    }
}
.gallery{
    margin-top: 105px;
    .gallery-content{
        display: flex;
        justify-content: space-between;
        .gallery-content__item{
            width: 305px;
            img{
                width: 100%;
            }
            .gallery-content__item_mini:nth-child(2){
                margin-top: 20px ;
            }
            .gallery-content__item_text{
                background-color: #88BACD;
                color: #ffffff;
                padding: 30px;
                display: flex;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                vertical-align: middle;
                flex-direction: column;
                h3{
                    font-size: 34px;
                    line-height: 41px;
                    text-transform: uppercase;
                    font-weight: 400;
                }
                a{
                    font-family: $font-helvetica;
                    font-weight: 400;
                    margin-top: 50px;
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 20px;
                    img{
                    
                        height: 20px;
                        margin-left: 10px;
                        display: inline-block;
                        width: 20px;
                    }
                }
    
            }
        }
    }
}

.contact{
    margin-top: 150px;
    font-family: $font-helvetica;
    font-weight: 300;
    li{
        border-bottom: 1px solid rgba(43, 43, 43, 0.05);
    }
    .contact-content__info{
        box-shadow: $box-shadow;
        .contact-content__info_head{
            padding: 30px;
            font-size: 34px;
            line-height: 41px;
            text-transform: uppercase;
            color: #083E5E;

        }
        .contact-content__info_geotag{
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            p{
                display: flex;
                flex-direction: row;
                height: 40px;
                img{
                    width: 24px;
                    height: 24px;
                    margin-right: 15px;
                }
            }
            a{
                display: flex;
                flex-direction: row;
                height: 42px;
                color: #388DAC;
                img{
                    width: 24px;
                    height: 24px;
                    margin-right: 14px;
                }
            }
            .contact-content__info_tel{
                font-weight: 400;
            }
            .contact-content__info_wh{
                margin-left: 40px;
            }
        }
    }
    .contact-content_map{
    }
}
