<footer class="footer">
    <div class="container">
        <div class="row footer-content">
            <img class="footer-content__logo" src="/assets/images/logo.png" alt="Логотип">
            <div class="row footer-content__menu col-xl-8 col-12">
                <a class="col-4 col-lg-2" href="http://localhost:3000/">Главная</a>
                <a class="col-4 col-lg-2" href="/timetable.html">Расписание</a>
                <a class="col-4 col-lg-2" href="/about.html">О школе</a>
                <a class="col-4 col-lg-2" href="/choreographer.html">Хореографы</a>
                <a class="col-4 col-lg-2" href="#">Контакты</a>
                <a class="col-4 col-lg-2" href="#">Галерея</a>
            </div>
            <div class="footer-content__social">
                <a href="#"><img src="/assets/images/footer-insta.svg" alt=""></a>
                <a href="#"><img src="/assets/images/footer-vk.svg" alt=""></a>
            </div>
        </div>
    </div>

</footer>